$offBlack: #494c4e;
$reactBlue: #61DAFB;

.appContainer {
    height: 100%;
    width: 100%;
    padding: 20px;
    // height: 100%;
    border: 8px $offBlack solid;
    background: rgb(255, 255, 255);
    overflow: hidden;
    font-family: 'adriane', Georgia, serif;
    color: $offBlack;
    -webkit-font-smoothing: antialiased;

    .navContainer {
        width: 100vw;
        height: 143px;



        .navSubContainer {
            display: flex;
            position: relative;
            justify-content: space-between;
            line-height: 72.5px;
            margin-right: 70px;
            margin-left: 30px;
            color: $offBlack;

            .jLink {
                text-decoration: none!important;
            .navJ {
                font-size: 24px;
                border: $reactBlue 2px solid;
                width: 40px;
                height: 40px;
                text-align: center;
                margin-top: 21px;
                transform: rotate(0deg);
                transition: transform 999s 999s;
                

                & :hover {
                    transform: rotate(360deg);
                    transition: transform 0.5s;
                }

                .J {
                    position: relative;
                    top: -18px;
                    color: $offBlack;

                    
                }
            }
            }

            .navList {

                #navListItemSocial {
                    // line-height: 1em;
                    margin: 8px;
                    cursor: pointer;

                    & :hover {
                        color: $reactBlue;
                    }
                
                
                    .socialLinkImage {
                        opacity: 0;
                        visibility: hidden;
                        width: 0;
                        // line-height: 72.5px;
                        font-size: 1.5em;
                        line-height: 1em;
                        float: left;
                        margin-left: 1.5em;
                        list-style: none;
                        // margin-bottom: 1.5em;
                        // padding-bottom: 2em;
                        font-weight: bold;
                        margin: 0;
                        text-align: center;
                        // color: $offBlack;
                        transition: all ease-out .3s;      

                        & a {
                            margin: 0 10px;
                            line-height: 72.5px;
                            color: $reactBlue;

                        }
                    }
                }
            }

            .navList {
                display: flex;
                
                

                .navListItem {
                    
                    // display: inline-block;
                    margin: 8px;

                    & :hover {
                        color: $reactBlue;
                    }

                    
                    & a {
                        text-decoration: none;
                        color: $offBlack;

                    }
                }
            }

            #navListItemSocial:hover .socialLinkImage {

                cursor: pointer;
                visibility: visible;
                width: 40px;
                transition: all ease-in .3s;      
                opacity: 1;    
            }
        }
    }



        .emailSubContainer {
            text-align: center;
            padding-top: 3em;
            padding-bottom: 4em;
            border-top: 1px solid #f0eeee;

            .contactHeader {
                font-size: 3em;
                line-height: 1.5em;
                margin-bottom: 1em;
                font-weight: bold;
                margin: 0;
                margin-block-start: 0.83em;
                margin-block-end: 0.83em;
            }

            .emailMeButton {
                border-radius: 5px;
                border: 1px solid $reactBlue;
                padding: 1em 1.5em;
                display: inline-block;
                font-size: 1.5em;
                font-style: italic;
                margin: 0 1em;
                margin-bottom: 1em;
                min-width: 10em;
                transition: all 0.25s ease;
                cursor: pointer;
                
                
                & a {
                    text-decoration: none;
                    color: $offBlack;
                    
                }
            }
        }


        .footerSubContainer {
            border-top: 1px solid #f0eeee;
            text-align: center;
            padding-top: 3em;
            padding-bottom: 4em;
            font-family: 'adriane', Georgia, serif;
            color: #494c4e;
            -webkit-font-smoothing: antialiased;

            .copyright {
                font-size: 1.5em;
                line-height: 2em;
                margin-bottom: 1.5em;
            }
        }
}


.homeContainer {
    // height: 700px;
    width: 100%;
    .headerContainer {
        padding-top: 6em;
        padding-bottom: 6em;
        padding-left: 2em;
        padding-right: 2em;
        max-width: 80em;
        margin-left: auto;
        margin-right: auto;

        .header {
            font-size: 3em;
            line-height: 1.5em;
            margin-bottom: 1em;
            font-weight: bold;
            margin: 0;


        }
    }

    .mainPhotoContainer {
        // height: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2em;
        padding-right: 2em;
        max-width: 1450px;

       .mainPhotoSubContainer {
        //    height: 450px;
        //    width: 90vw;
            text-align: center;
            margin: auto 0px;;


        .mainPhoto {
            max-width: 80%;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
          

        }
       } 
    }

    .contentContainer {
        max-width: 80em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4em;
        margin-top: 4em;
        font-size: 100%;
        font-family: 'adriane', Georgia, serif;
        color: $offBlack;
        -webkit-font-smoothing: antialiased;

        & h3 {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
            color: $offBlack;
            font-size: 2em;
            line-height: 1em;
            margin-bottom: 1.5em;
        }

        & h4 {
            font-size: 1.35em;
            line-height: 1em;
            margin-bottom: 1.25em;
            color: $reactBlue;
            text-transform: uppercase;
            font-family: 'franklin-gothic-urw-cond', Arial, sans-serif;
            font-weight: 700;
            // font-family: 20px!important;
        }

        & .aboutMeP {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-family: 'adriane', Georgia, serif;
            color: $offBlack;
            -webkit-font-smoothing: antialiased;

            .textLink {

                text-decoration: none;
                color: $reactBlue;

            }
        }

        // .aboutContainer {
        //     padding-top: 2%;
        // }
    }
}

.projectsContainer {

    .projectsTopHeaderContainer {
        padding-top: 6em;
        padding-bottom: 6em;
        padding-left: 2em;
        padding-right: 2em;
        max-width: 80em;
        margin-left: auto;
        margin-right: auto;

        .projectTopHeader {
            font-size: 3em;
            line-height: 1.5em;
            margin-bottom: 1em;

            // font-size: 62.5%;
            font-family: 'adriane', Georgia, serif;
            color: #494c4e;
            -webkit-font-smoothing: antialiased;
        }
    }

    .projectLowerHeaderContainer {

        .projectLowerHeader {
            font-size: 2em;
            line-height: 1em;
            margin-bottom: 1.5em;

            
        }
    }
}

.projectViewContainer {
    padding-top: 6em;
    padding-bottom: 1em;
    border-top: 1px solid #f0eeee;
    padding-left: 2em;
    padding-right: 2em;

    .projectViewSubContainer {
        padding-top: 3em;
        padding-bottom: 1em;

        .projectImage {
            width: 85%;
            // opacity: 0;
            // position: absolute;
            // background-color: #494c4e;
            // top: 0;
            // width: 100%;
            // height: 100%;
            // z-index: 2;
            // color: #494c4e;
            // text-decoration: none;
            // margin-bottom: 1.25em;



        }
    }
}